.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.headerNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.headerNav li {
    display: inline-block;
    border-right: 1px solid black;
    padding: 10px 15px;
}
.headerNav li:last-child {
    border: none;
}